API_PORT=9999
API_HOST=localhost
RECAPTCHA_SITE_KEY=YOUR_RECAPTCHA_SITE_KEY_HERE
RECAPTCHA_SECRET_KEY=YOUR_RECAPTCHA_SECRET_KEY_HERE
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_REDIRECT_URI=http://127.0.0.1/PA/PA%20-%20Site%20Principal/pages/public/oauth-callback-google // Or your callback URI
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY_HERE
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET_HERE
APP_API_KEY=YOUR_APP_API_KEY_HERE // Needed for the API to authenticate and control the clients allowed to connect
FACEBOOK_CLIENT_ID=your_facebook_app_id_here
FACEBOOK_CLIENT_SECRET=your_facebook_app_secret_here
FACEBOOK_REDIRECT_URI=http://127.0.0.1/PA/PA%20-%20Site%20Principal/pages/public/oauth-callback-facebook // Or your callback URI
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE // Get a free key at https://aistudio.google.com/apikey